body{
    margin: 0;
    padding: 0;
    background: #333333;
}
/* Wrapper */
.wrapper{

}

/* Header */
.header{
    position: fixed;
    top: 0;
    height: 150px;
    width: 100%;
    background-color: rgba(0,0,0,0.4);
}
.platforms{
    list-style-type: none;
    color: white;
    display: inline;
    margin-top: 100px;
}
.platforms li{
    display: inline;
}
.logo{
    width: 130px;
    height: auto;
    margin: 10px;

    float: left;
}
.lagaheader{
    display: grid;
    grid-template-columns: 87% 13%;
}
    /* Drop-down takki */
.takki{
    width: 75px;
    height: auto;
    float: right;
}
.dropbtn {
    background-color: rgba(0,0,0,0);
    padding: 16px;
    border: none;
}
.dropdown {
    position: relative;
    display: inline-block;
    margin: 0;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(0,0,0,0.7)
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {
    background-color: rgba(0,0,0,0.1);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    color: Grey;
}
/* Myndir */
.home{
    width: 100%;
    margin: auto;
}
/* Content */
.content{

}
.video{
    text-align: center;
    margin: 25px;
}
/* Footer */

/* Auka (lagar ýmsa hluti)*/
.anchor{
    display: block;
    height: 150px;
    margin-top: -150px;
    visibility: hidden;
}